body {
    margin: 0;
    font-family: "Montserrat";
}

.page-container {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}

.pokemon-container {
    background: #F2F1F1;
    border-radius: 10px;
}

.types {
    display: flex;
    justify-content: space-between;
}

.type {
    width: 50%;
    text-align: center;
    border-radius: 0 10px 0 10px;
}

.orange {
    background: #E85B0E;
}

.green {
    background: #A0DA5E;
}

.pink {
    background: #BE93E7;
}

.blue {
    background: #4A9ED2;
}

.grey {
    background: #D8D8D8;
}


.modal-container {
    position: fixed;
    z-index: 99;
    width: 70%;
    height: 99vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;

}

.currPok-container {
    position: relative;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 500px) 1fr;
    grid-template-rows: 10% 25% 25% 40%;
    grid-template-areas:
        "name name"
        "image descr"
        "image stats"
        "moves moves";
    grid-row-gap: 10px;
}

.modal-name {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: name;
}

.largeImage {
    grid-area: image;
    height:100%;
    border: 1px solid black;
    background: #F2F1F1;
    margin: 0 auto;
    border-radius: 10px;
}

.descr {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    grid-area: descr;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}


.moves-con {
    width: 90%;
    height: 50%;
    margin: 0 auto;
    grid-area: moves;
    padding: 1em;

}

.moves {
    grid-area: moves;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.moves-con > p {
    padding-left: 1em;
}

.move {
    padding: 5px;
}

.move > span{
    background: #BE93E7;
    padding: 3px;
    border-radius: 10px;
}


.stats-con {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    grid-area: stats;
    border-radius: 10px;
}

.stats {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.stat {
    width: 10%;
    margin: 2px;
}

break {
    flex-basis: 100%;
    width: 0px;
    height: 0px;
    overflow: hidden;
}
.closing-button {
    position: absolute;
    top: 0;
    z-index: 99;
    margin: 0;
    cursor: pointer;
}

.moreButton {
    width: 10%;
    margin: 1em auto;
}
